services:
  mariadb:
    image: mariadb
    container_name: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 1234
      MARIADB_USER: root
      MARIADB_USER_PASSWORD: 1234
      MARIADB_DATABASE: ciber
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./Jugadores.sql://docker-entrypoint-initdb.d/Jugadores.sql:ro
    user: mysql
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      - PMA_HOST=mariadb
    ports:
      - 9093:80
    depends_on:
      - mariadb
  python:
    build: ./api
    container_name: python
    environment:
      DB_USERNAME: root
      DB_PASSWORD: 1234
      DB_DATABASE: ciber
      DB_HOST: mariadb
      DB_PORT: 3306
      PORT: 8080
      HOST: 0.0.0.0
    depends_on:
      - mariadb
  apache-waf:
    build: ./apache #./waf/ en un futuro
    ports:
      - 9090:80
    volumes:
      - ./apache:/var/www/html
    depends_on:
      - python
    links:
      - python
volumes:
  mariadb_data:
